In [3]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [6]:
df.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [7]:
X= pd.get_dummies(df[['Sex','BP','Cholesterol']])

In [8]:
df.drop(['Sex','BP','Cholesterol'],axis= 1,inplace= True)

In [9]:
df_1= df.join(X)

In [10]:
df_1.head()

,Age,Na_to_K,Drug,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,DrugY,1,0,1,0,0,1,0
1,47,13.093,drugC,0,1,0,1,0,1,0
2,47,10.114,drugC,0,1,0,1,0,1,0
3,28,7.798,drugX,1,0,0,0,1,1,0
4,61,18.043,DrugY,1,0,0,1,0,1,0

Here we can drop either Male or Female column

In [11]:
df_1.drop('Sex_F',axis =1, inplace= True)

In [12]:
X= df_1.drop('Drug',axis=1)
y=df_1['Drug']

In [13]:
X.head()

,Age,Na_to_K,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,0,1,0,0,1,0
1,47,13.093,1,0,1,0,1,0
2,47,10.114,1,0,1,0,1,0
3,28,7.798,0,0,0,1,1,0
4,61,18.043,0,0,1,0,1,0

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
X_reshaped= X['Na_to_K'].values.reshape(-1,1)
X['Na_to_K']= scaler.fit_transform(X_reshaped)

In [15]:
X.head()

,Age,Na_to_K,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,0.596848,0,1,0,0,1,0
1,47,0.213397,1,0,1,0,1,0
2,47,0.120239,1,0,1,0,1,0
3,28,0.047814,0,0,0,1,1,0
4,61,0.368191,0,0,1,0,1,0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size= 0.25, random_state=10)

In [17]:
X_train.head()

,Age,Na_to_K,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
24,33,0.851116,0,0,1,0,1,0
43,23,0.187348,1,0,0,1,1,0
101,45,0.205923,0,1,0,0,1,0
163,21,0.699325,0,1,0,0,0,1
21,63,0.614422,1,0,0,1,1,0

In [18]:
y_train.head()

24     DrugY
43     drugX
101    drugA
163    DrugY
21     DrugY
Name: Drug, dtype: object

### LOGISTIC REGRESSION

In [19]:
from sklearn.linear_model import LogisticRegression
regressor= LogisticRegression()
regressor.fit(X_train,y_train)

C:\Users\syamk\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
y_pred= regressor.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score
print('Accuracy score of Logistic Regression is {}'.format(accuracy_score(y_test,y_pred)))

Accuracy score of Logistic Regression is 0.88

### NAIVE BAYES

In [22]:
from sklearn.naive_bayes import GaussianNB
naive= GaussianNB()
naive.fit(X_train,y_train)
y_pred= naive.predict(X_test)
print('Accuracy score using Naive bayes:{}'.format(accuracy_score(y_pred,y_test)))

Accuracy score using Naive bayes:0.76

### K- NEAREST NEIGHBOURS

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)
y_pred= knn.predict(X_test)
print('accuracy score using KNN: {}'.format(accuracy_score(y_pred,y_test)))

accuracy score using KNN: 0.46

#### SUPPORT VECTOR MACHINE

In [31]:
from sklearn.svm import SVC
sup= SVC()
sup.fit(X_train,y_train)
y_pred= sup.predict(X_test)
print('accuracy score using support vector machine {}'.format(accuracy_score(y_pred,y_test)))

accuracy score using support vector machine 0.36